/*Header CSS*/

/*Centering the text and giving it some padding*/
#head {
    text-align: center;
    padding: 10px;
}

/*Changing the background color of the header*/
header {
    background-color: beige;
}

/*Changing the background color of the main body to gray*/
body {
    background-color:gray;
}


/*Navigation Bar CSS*/

/*Changing the style of the list of tabs by removing the dots*/
ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:burlywood;
}

/*Justifying the contents of the navigation bar to the left*/
.navigation > li {
    float: left;
}

/*Setting the style of the text in the navigation bar*/
.navigation > li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/*Footer CSS*/

/*Changing the background of the footer and make it flex for the components*/
footer {
    display: flex;
    justify-content: space-between;
    background-color:rosybrown;
}

/*Styling the contents of the footer to a suitable size an aligning them*/
footer > p {
    font-size: 30px;
    text-align: center;
}

/*Setting the style of the contacts part to make it look nicer*/
#contacts {
    font-size: 20px;
    text-align: center;
    width: 30%;
    font-family: sans-serif;
    font-weight: bold;
}

/*Setting the style of the email address to a nicer look*/
#email {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
}

/*Setting the style of the linkedIn link */
#linkedIn {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

/*Page 5 Contact Me Page CSS*/

/*Setting the background image of the page*/
#page5 {
    background-image: url('images/background-image-5.jfif');
}

/*Setting the font of the labels for the form*/
label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*Making a colored box to highlight the form and to store the inputs*/
#page5 > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color:burlywood;
    margin: auto;
}

/*Setting the form's style to fit the input and labels*/
#page5 > div > form {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin: auto;
    border: 5px solid;
    padding: 2%;
}

/*Styling the labels and inputs to fit the container*/
#page5 > div > form > div {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 3%;
}



/*Page 4 Projects Page CSS*/

/*Setting the background of the page*/
#page4 {
    background-image: url('images/background-image-4.jfif');
}

/*Setting the style of the titles for the projects*/
#page4 > div > h1 {
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 3px;
}

/*Setting the container for the pictures and text for each project*/
#page4 > article {
    display: flex;
    align-items: center;
}

/*Changing the color and background of the text to fit the color scheme*/
#page4 > article > p {
    color:aliceblue;
    display: flex;
    align-items: center;
    border-radius: 25px; 
    padding: 5%;
    margin-left: 10px;
    margin-right: 20px;
    width: 50%;
    font-size: 25px;
    text-align: center;
    background: rgba(0,100,128, 0.8);
}

/*Setting the display of the project image*/
.project1 {
    display: flex;
    position: relative;
    border-radius: 32%;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
    padding: 5%;
}

/*Setting the display of the project image*/
.project2 {
    display: flex;
    position: relative;
    width: 300px;
    height: 600px;
    margin: auto;
    margin-bottom: 10px;
}

/*Setting the display of the project image*/
.project3 {
    display: flex;
    position: relative;
    width: 300px;
    height: 600px;
    margin: auto;
    margin-bottom: 10px;
}

/*Setting the display of the project image but as a landscape image*/
.project4 {
    display: flex;
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
}

/*Setting the display of the container for the landscape image with the text*/
.landscape {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*Page 3 Work Experience Page CSS*/

/*Setting the background image of the page*/
#page3 {
    background-image: url('images/background-image-3.jpeg');

}
/*I used the historyBox settings from page 2 in this one since the display was about the same*/


/*Page 2 Education History Page CSS*/

/*Setting the background image for the page*/
#page2 {
    background-image: url('images/background-image-2.jfif');
}

/*Setting the size of the text of the titles of the schools to make it more focused*/
.historyBox > h1 {
    font-size: 35px;
}

/*Setting the containers to have rounded edges so that it looks less boxed and a different color to the background image*/
.historyBox {
    border-radius: 25px;
    width: 70%;
    background-color: white;
    margin: auto;

}

/*Setting the text size of the text in the boxes*/
.history {
    padding: 5%;
    font-size: 20px;
}



/*Page 1 Home Page CSS*/
#page1 {
    background-image: url('images/background-image.jpg');
}

.skillList {
    font-size: 25px;
    padding: 10%;
    margin: auto;
}

.skills {
    border-radius: 25px;
    width: 50%;
    background: rgba(200,150,150, 0.8);
    font-size: 25px;
    margin: auto;
}

@media screen and (min-width: 977px) {
    #page1 > div {
        display: flex;
    }

    input[type="submit"] {
        text-align: center;
        width: 60px;
        margin: auto;
    }
    
    
    input[type="text"] {
        font-size:15px;
        font-weight: normal;
    }
}



@media screen and (max-width: 576px) {
    #page1 > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project1 {
        display: flex;
        position: relative;
        border-radius: 32%;
        width: 300px;
        height: 300px;
        padding: 5%;
    }

    #page4 > article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #page4 > article > p {
        color:aliceblue;
        display: flex;
        align-items: center;
        border-radius: 25px; 
        padding: 5%;
        margin-left: 10px;
        margin-right: 20px;
        width: 50%;
        font-size: 25px;
        text-align: center;
        background: rgba(0,100,128, 0.8);
    }
    
    input[type="submit"] {
        text-align: center;
        width: 60px;
        margin: auto;
    }
    
    
    input[type="text"] {
        font-size:12px;
        font-weight: normal;
    }
    
    footer {
        display: flex;
        background-color:rosybrown;
    }
    
    footer > p {
        font-size: 20px;
        text-align: center;
    }
    
    #contacts {
        font-size: 15px;
        text-align: center;
        width: 30%;
        font-family: sans-serif;
        font-weight: bold;
        margin: auto;
    }
    
    #email {
        display: flex;
        justify-content: center;
        width: 30%;
        font-size: 15px;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        margin: auto;
    }
    
    #linkedIn {
        display: flex;
        flex-direction: column;
        width: 30%;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
        margin: auto;
    }
    
}


#page1 > div > p {
    border-radius: 25px; 
    padding: 5%;
    margin-left: 10px;
    margin-right: 20px;
    width: 50%;
    font-size: 25px;
    text-align: center;
    background: rgba(200,150,150, 0.8);
}


.description{
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    width: 50%;
    padding: 5%;
    font-size: 25px;
    background: rgba(200,150,150, 0.8);
}


#image {
    display: flex;
    position: relative;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 10px;
}

h2 {
    width: fit-content;
    text-align: center;
    font-size: 30px;
    padding: 2%;
    margin: auto;
}


h1 {
    text-align: center;
    padding: 1%;
}
